.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 18%;
  margin: 40px;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
}
.flex-container .listImage{
  width:60%;
  height:60%
}
.searchbar{
  margin: auto;
    width: 50%;
    /* border: 3px solid #80001e; */
    padding: 10px;
}
.cat-label{
  color: grey;
    font-size: large;
}
.listing-page-head{
  text-align: center;
}
.detail-page-head{
  text-align: center;
  color:red;
}
.detailPage img{
  float: left;
    height: 400px;
    width: 400px;

}
.flex-container .detailPage {
  background-color: #f1f1f1;
  width: 60%;
  margin: auto;
  text-align: left;
  line-height: 75px;
  cursor: pointer;
}
.description{
  margin-top: 60px;
  margin-right: 80px;
}
.label{
  font-size: 17px;
  font-weight: 600;
  padding: 12px;
}
.description > div{
  line-height: 42px;
}
.bckBtn{
  background: skyblue;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
}